# dagster
/.dagster/*
!/.dagster/dagster.yaml

# honeyquest results
/results

# experiments
scratchpad.ipynb

#################################################################################################

.idea/

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix
